.downloadSection {
  margin-top: 100px;
}
.downloadContent {
}
.downloadContent p {
  font-size: 28px;
}
.downloadContent h6 {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 13px;
  font-weight: 700;
  color: var(--color-3);
  text-transform: uppercase;
}
.downloadButton {
  margin-bottom: 100px;
}
.downloadButton button {
  padding: 15px 80px;
  transition: 0.3s ease;
}
.downloadButton button:hover {
  background-color: var(--color-10);
  color: #000;
}
